<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="border: 1px solid white;border-radius: 8px;padding: 10px;" href="#">Digital Grocery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customer Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="add_btn()">New Item</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" oninput="filter_menu()">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="filter_menu">Search</button>
      </form>
    </div>
  </nav>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">© 2020 Copyright: Digital Grocery</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    </div>
  </nav>

<div style="height:100%;display: flex; padding-top: 68px;padding-bottom: 56px;">

<div id="menu" class="m-0 pr-1 pb-1">
<div class="row border-0 m-0">
<% for(var i=0;i<items.length;i++){ 
  var url = items[i].name.replace(" ","%20") + items[i].imageType; %>
	<div id="<%=items[i].name%>" class="card border-0 rounded-0 pl-1 pt-1" style="width: 25%;height: 17rem;">
        <div class="card-header border-0 rounded-0" style="background-color: #8080806b;">
          <p class="m-0"><%= items[i].name %></p>
          <div id="<%=items[i].name+'_price'%>" style="position: absolute;top: .75rem;right: 3rem;">
            &#x20B9;<%=items[i].price%>
          </div>
          <a id="delete_icon" class="fa fa-trash-o" href="./delete_item/<%=items[i].name%>/<%=items[i].imageType%>"></a>
        </div>
		<div class="card border-0 rounded-0 justify-content-between align-items-center" style="background-image: url(<%=url%>);background-repeat: no-repeat;background-position: center;background-size: cover;height: 100%">
    </div>
    
    </div>
<% } %>
</div>
<button type="button" id='add_new_item_btn' class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" hidden>
  Launch demo modal
  </button>
    
  <!-- Modal -->
  <div class="modal fade" style="transition: opacity 0s linear;" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div>
              <form style="margin-left: 25%;" action="/add_item" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">item name</label><br/>
                    <input id="item_name" name="item_name"  type="text" placeholder="apple,orange..." required>
                  </div>

                  <div class="form-group">
                      <label for="exampleFormControlFile1">item image</label><br/>
                      <input id="item_image" name="item_image" type="file" accept="image/*" required>
                    </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">item quantity type</label><br/>
                    <input  id="item_quantity_type" name="item_quantity_type" type="text" placeholder="kgs,pieces,litres..." required>
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">item price</label><br/>
                    <input  id="item_price" name="item_price" type="number" placeholder="per quantity." required>
                  </div>

                  <button style="float: right;"  type="submit" class="btn btn-primary m-2">ADD</button>
                </form>
          </div>
      </div>
      </div>
  </div>
</div>

</div>

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>

    function add_btn(){
        const btn = document.getElementById('add_new_item_btn');
        btn.click();
    }

    function filter_menu(){
      var filter_text = document.getElementById("filter_text").value;

      var cards = document.getElementById('menu').getElementsByClassName('card');
      for( i=0; i< cards.length; i+=2)
      {
          if(cards[i].id.includes(filter_text)){
            cards[i].style.display='flex';
          }
          else{
            cards[i].style.display='none';
          }
      }
    }

</script>

</html>