<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/listsStyles.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
  </head>

<body>
  <img id="background" src="background.jpg">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="border: 1px solid white;border-radius: 8px;padding: 10px;" href="#">Digital Grocery</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./lists">Customer Lists</a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <input id="filter_text" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" oninput="filter_menu()">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="filter_menu()">Search</button>
      <button onclick="window.location.href='./admin'" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="button">login</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">© 2020 Copyright: Digital Grocery</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    </div>
  </nav>
  <div id="container">
    <div id="cards" class="card-columns p-3">
      <% for(var i=0;i<lists.length;i++){ 
        var total=0 %>
      <div id="<%=i%>" class="card">
        <div class="card-body">
          <h5 class="card-title  text-center">Customer <%=i+1%></h5>
          <ul class="list-group">
          <% for(var j=0;j<lists[i].length;j++){
             total = total + lists[i][j].cost%>
            <a id="<%=j%>" class="list-group-item p-0 d-flex justify-content-between" onclick="cross_out(this)">
              <span class="p-2 name"><span><%=lists[i][j].name%></span> <span><%=lists[i][j].quantity%></span></span><span class="p-2 cost">&#x20B9;<%=lists[i][j].cost%></span>
            </a>
          <%}%>
          <li class="list-group-item-primary p-3 d-flex justify-content-between">
            <span>Total:</span><span>&#x20B9;<%=total%></span>
          </li>
          </ul>
        </div>
      </div>
      <%}%>
    </div>
  </div>
</body>

<script src="/bootstrap-source/assets/js/vendor/jquery-slim.min.js"></script>
<script src="/bootstrap-source/assets/js/vendor/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io()
    socket.on('message', new_message)
    function new_message(list){
        update_lists(list)
    }

    function update_lists(list){
      var div_length = document.getElementsByClassName("card").length;
      var div = document.createElement('div');
      div.id=div_length;
      div.className="card";

      var div_body = document.createElement('div');
      div_body.className = 'card-body';

      var h5 = document.createElement("h5");
      h5.className = "card-title  text-center";
      h5.innerHTML = 'Customer'+div_length;
      
      var ul = document.createElement('ul');
      ul.className = "list-group";
      
      var total=0;
      var a;
      var span1;var span2;var span3;var span4;
      for(var k=0;k<list.length;k++){
        total = total + list[k].cost
        a = document.createElement("a");
        a.id = k;
        a.className = "list-group-item p-0 d-flex justify-content-between"
        a.setAttribute('onclick',"cross_out(this)");

        span1 = document.createElement('span');
        span1.innerHTML =list[k].name;

        span2 = document.createElement('span');
        span2.innerHTML =list[k].quantity;

        span3 = document.createElement('span');
        span3.appendChild(span1);
        span3.appendChild(span2);
        span3.className = "p-2 name";

        span4 = document.createElement('span');
        span4.innerHTML = "&#x20B9;"+list[k].cost;
        span4.className = "p-2 cost";

        a.appendChild(span3);
        a.appendChild(span4);

        ul.appendChild(a);

      }

      var li = document.createElement('li');
      li.className="list-group-item-primary p-3 d-flex justify-content-between";
      li.innerHTML='<span>Total:</span><span>&#x20B9;'+total+'</span>';
      
      ul.appendChild(li);

      div_body.appendChild(h5);
      div_body.appendChild(ul);
      div.appendChild(div_body);

      div_cards = document.getElementById("cards");
      div_cards.appendChild(div);
      
    }

    function cross_out(clickedElement){
        c = clickedElement.children;
        if(c[0].style.textDecoration==''){
            c[0].style.color = 'white';
            c[0].style.backgroundColor='lightgray';
            c[0].style.textDecoration='line-through';
        }
        else{
            c[0].style.color = 'black';
            c[0].style.backgroundColor='white';
            c[0].style.textDecoration='';
      }
    }
</script>

</html>